body{font-family:Verdana;background-color: #fff;}
        h1 {
            font-size: 48px;
            text-transform: uppercase;
            text-align: center;
        }
        p {
            font-size: 16px;
            text-align: center;
        }
        h3 {
            text-align: center;
            margin-bottom: 20px;
        }
        .form-login{
            background-color: white;
            padding: 20px 30px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            text-align: left;
            margin-left: 38%;
        }
        .form-label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        .form-input {
            width: calc(100% - 20px);
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        .form-button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
        .form-button:hover {
            background-color: #45a049;}

